<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Student Records</title>
  </head>
  <body class="">
    <nav class="">
      <div class="container-fluid">
         Student Records
        <button>
        </button>
        <div class="">
          <ul class="">
            <li class="">
              All Students
            </li>
            <li class="">
              Add Student
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="">
    </div>
    <footer class="">
      <div class=""> 
      </div>
    </footer>
  </body>
</html>